.search-bar {
    /*margin-top: 30px;
    margin-left: 10px;*/
    margin: auto;
    margin-top: 50px;
    width: 550px;
}

.search-btn {
    color: cornflowerblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.display-bar {
    margin: auto;
    width: 550px;
}

li:hover {
    background-color: cornflowerblue;
    color: aliceblue;
}

.title {
    margin: auto;
    margin-top: 30px;
}